body 
{
    background-color: #e9f5af;
}

.text_centered
{
    text-align: center;
    font-family: sans-serif;
}

div
{
    margin: auto;
}

#filters-container
{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}


.range_count
{
    width: 30px;
}

.range_count:focus
{
    background-color: rgb(151, 244, 197);
}
